/* general */

body {
	background-color: #f0f4ff; /* almost white */
	margin: 0px;
}

body, span {
	font-family: "Verdana", "DejaVu Sans", sans-serif;
	font-size: 10pt;
	color: #000000;
}

a {
	text-decoration: none;
	color: #0000d0; /* link blue */
}

a:hover {
	text-decoration: underline;
}

a.hidden {
	color: #707070; /* dark grey */
}

a.private {
	color: #d00000; /* quite strong red */
}

.lynx { /* only for text-only browsers */
	display: none;
}


/* title bar */

div#titleBar {
	background-color: #bdd2ef; /* light blue */
	line-height: 180%;
	padding-left: 13px;
	padding-right: 13px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #a0a0a0; /* grey */
	font-size: 13pt;
}



/* category bar */

div#categoryBar {
	background-color: #80b0f2; /* dark blue */
	line-height: 200%;
	margin-left: 15px;
	margin-right: 13px;
}

div#categoryBar div {
	padding: 5px;
	padding-left: 13px;
}

div#categoryBar span.header {
	font-size: 12pt;
	margin-right: 20px;
}

div#categoryBar span.path {
	margin-right: 45px;
}

div#categoryBar a.action {
	background-color: #a9c9ef;
	margin-right: 5px;
	border-top: 1px solid #e0e0ff;
	border-left: 1px solid #e0e0ff;
	border-bottom: 1px solid #8080a0;
	border-right: 1px solid #8080a0;
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 20px;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
}

div#categoryBar a#editCategoryLink {
	background-image: url('../images/edit.gif');
}

div#categoryBar a#deleteCategoryLink {
	background-image: url('../images/delete.gif');
}

div#categoryBar a#moveCategoryLink {
	background-image: url('../images/move.gif');
}



/* dialogs general */

div.popupDialog {
	position: absolute;
	padding: 10px;
	text-align: center;
}

img.throbber {
	border-width: 0px;
	vertical-align: middle;
	padding: 4px;
}

p.addButton {
	background-color: #d0d0d0;
	padding: 8px;
	text-align: center;
}

span.throbberLabelInfo {
	color: #000080;
	margin: 5px;
}

span.throbberLabelWarning {
	color: #d00000;
	margin: 5px;
}

img.dialogTriangle {
	position: absolute;
	left: 0px;
	top: -15px;
}

img.dialogRightTriangle {
	position: absolute;
	right: 0px;
	top: -15px;
}


/* category dialogs */

div#addCategoryDialog {
	background-color: #bdd2ef; /* light blue */
	margin-left: 30px;
	margin-top: 10px;
	padding: 10px;
	width: 18em;
	text-align: center;
	position: relative; /* for the triangle */
}

div#addCategoryDialog input.text {
	margin-left: 5px;
	margin-right: 5px;
	width: 13em;
}

div#addCategoryDialog p {
	margin: 0px;
}

div#addCategoryDialog #addCategoryAdd {
	margin-top: 10px;
	margin-right: 5px;
}

div#addCategoryDialog p#addCategoryInfo {
	margin-top: 10px;
}

div#deleteCategoryDialog {
	width: 19em;
	background-color: #efbdbd; /* pale red */
}

div#deleteCategoryDialog p.radio {
	text-align: left;
}

div#deleteCategoryDialog button {
	margin: 10px;
}

div#deleteCategoryDialog p {
	margin-bottom: 0px;
}

div#editCategoryDialog {
	width: 20em;
	background-color: #bdd2ef; /* light blue */
	text-align: left;
}

div#editCategoryDialog input.text {
	margin-left: 5px;
	margin-right: 5px;
	width: 15em;
}

div#editCategoryDialog img.categoryType {
	vertical-align: middle;
	margin-left: 3px;
}

div#editCategoryDialog input.editCategoryType {
	margin-top: 5px;
	margin-left: 15px;
}

div#editCategoryDialog #editCategoryEdit {
	margin-top: 10px;
}

div#editCategoryDialog p {
	margin: 0px;
}

div#editCategoryDialog fieldset {
	margin-bottom: 5px;
}

div.moveDialog p {
	margin: 0px;
}

div.moveFrame p {
	margin: 10px;
}


/* category list */

table#subcategories {
	width: 100%;
}

table#subcategories td.left {
	text-align: left;
	vertical-align: top;
}

table#subcategories td.right {
	text-align: right;
	vertical-align: top;
	width: 27em;
}

table#subcategories td.left p.header {
	margin-top: 20px;
	margin-left: 20px;
}

table#subcategories td.left table {
	margin-left: 40px;
	margin-bottom: 20px;
}

table#subcategories td.left table td {
	vertical-align: top;
	padding-right: 30px;
}

table#subcategories ul, div.moveFrame ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

table#subcategories ul li, div.moveFrame ul li {
	padding-bottom: 3px;
}

table#subcategories ul li a, div.moveFrame ul li a {
	background-image: url('../images/folder_blue.gif');
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 20px;
}

table#subcategories ul li a.parent, div.moveFrame ul li a.parent {
	background-image: url('../images/parent.gif');
}

table#subcategories ul li .private, div.moveFrame ul li a.private {
	background-image: url('../images/folder_red.gif');
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 20px;
	color: #d00000; /* quite strong red */
}

table#subcategories ul li a.hidden, div.moveFrame ul li a.hidden {
	background-image: url('../images/folder_grey.gif');
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 20px;
	color: #707070; /* dark grey */
}

table#subcategories p.errorMessage {
	margin-top: 0px;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 11pt;
	background-color: #efbdbd; /* pale red */
	padding: 20px;
}

span.amount {
	font-size: 8pt;
	color: #707070;
}



/* add category button */

table#subcategories p.addCategory {
	margin-left: 20px;
	width: 14em;
}

table#subcategories p.addCategory span.arrow {
	font-size: 12pt;
}

table#subcategories p.addCategory a {
	background-image: url('../images/folder_new.gif');
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 24px;
}

/* right menu */


td.right form {
	margin: 0px;
	padding: 0px;
	float: right;
}

div#searchBox, div#loginBox, div#logoutBox, div#statsBox {
	background-color: #a9c9ef; /* light blue - category button color */
	margin-right: 10px;
	margin-top: 10px;
	padding: 12px;
	text-align: center;
	float: right;
	margin-bottom: 0px;
	clear: none;
}

div#searchBox input.submit, div#loginBox input.submit, div#logoutBox input.submit {
	margin-left: 3px;
	width: 5em;
}

div#searchBox {
	width: 24em;
	clear: both;
}

div#searchBox input#searchPhrase {
	margin-left: 3px;
	width: 11em;
	height: 1.3em;
	background-image: url('../images/search.gif');
	background-color: white;
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 20px;
}

div#loginBox {
	width: 21em;
}

div#loginBox input#password {
	margin-left: 3px;
	width: 9em;
	height: 1.3em;
	background-image: url('../images/lock.gif');
	background-color: white;
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 20px;
}

div#loginBox p.badPassword {
	color: red;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
}

div#logoutBox {
	width: 6em;
}

div#statsBox {
	width: 11em;
	padding: 5px;

}

div#statsBox img {
	vertical-align: middle;
	margin: 0px;
	margin-right: 3px;
}

div#statsBox p {
	margin: 3px;
	padding: 0px;
}

hr {
	width: 98%;
	height: 1px;
	color: #505050;
	background-color: #505050;
	border: none;
}


/* link list */

p.pages {
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

div#links {
	margin-left: 40px;
	margin-right: 30px;
	margin-bottom: 20px;
}

div#links a.url {
	font-size: 9pt;
	color: #707070;
}

div#links a.title {
	margin-left: -3px;
}

div#links a.linkact {
	color: #2f4f4f; /* dark slate gray */
}

div#links a.linkId {
	display: none;
}

div#links div.description {
	color: #2f4f4f; /* dark slate gray */
	text-indent: 1em;
}

div#links ol {
	padding-left: 0px;
	margin: 0px;
	list-style-position: inside;
}

div#links li.entry {
	margin-bottom: 14px;
	margin-left: 0px;
}

div#links em, table#subcategories em {
	font-style: normal;
	font-weight: normal;
	background-color: #99ff99;
}


/* add link button */

div#links p.addLink {
	width: 10em;
}

div#links p.addLink a {
	background-image: url('../images/link.gif');
	background-repeat: no-repeat;
	background-position: 2px 50%;
	padding-left: 24px;
}


/* link dialogs */

div#addLinkDialog, div#editLinkDialog {
	background-color: #bdd2ef; /* light blue */
	padding: 15px;
	width: 45em;
	line-height: 250%;
}

div#addLinkDialog input.text, div#editLinkDialog input.text {
	width: 40em;
	margin-left: 10px;
}

div#addLinkDialog input.url, div#editLinkDialog input.url {
	background-image: url('../images/link.gif');
	background-repeat: no-repeat;
	background-position: 2px 50%;
	background-color: white;
	padding-left: 23px;
	width: 38em;
	height: 1.3em;
	margin-left: 10px;
}

div#addLinkDialog .description, div#editLinkDialog .description {
	width: 43em;
	height: 5em;
}

div#addLinkDialog {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	position: relative; /* for the triangle */
}

div#editLinkDialog {
	text-align: left;
}

div#addLinkDialog p, div#editLinkDialog p {
	margin: 0px;
}

div#deleteLinkDialog {
	width: 10em;
	background-color: #efbdbd; /* pale red */
}

div#deleteLinkDialog button, div#deleteLinkDialog input {
	margin: 10px;
}

div#deleteLinkDialog p {
	margin: 0px;
}

/* move category/link dialogs */

div.moveDialog {
	width: 320px;
	background-color: #bdd2ef; /* light blue */
	text-align: left;
}

div.moveDialog div.moveFrame {
	width: 300px;
	background-color: #a7c5ef; /* a bit darker light blue :) */
	border-top: 1px solid #8080a0;
	border-left: 1px solid #8080a0;
	border-bottom: 1px solid #e0e0ff;
	border-right: 1px solid #e0e0ff;
	margin: 15px auto;
	overflow: auto;
}

div#moveCategoryFrame {
	height: 300px;
}

div#moveLinkFrame {
	height: 200px;
}

div.moveFrame p.pathBar {
	border-bottom: 1px solid #606060;
	padding: 5px 10px;
	margin: 0px;
}

div.moveFrame ul {
	margin-left: 20px;
}

div.moveFrame p.header {
	margin-left: 10px;
}



/* footer */

div.bottomBar {
	float: right;
	width: 16em;
	color: #404040;
	margin: 5px;
	margin-right: 0px;
	padding-bottom: 5px;
}
