div#installBox {
	background-color: #bdd2ef; /* light blue */
	width: 800px;
	margin: 20px auto;
	padding: 20px;
}

div#installBox.red {
	background-color: #efbdbd; /* pale red */
}

div#installBox table {
	width: 100%;
}

div#installBox table td {
	padding: 5px;
	vertical-align: top;
}

div#installBox table td.error {
	color: red;
	background-color: #e0e0ff;
	border: 1px solid #808080;
	padding: 10px;
	margin: 10px;
	font-weight: bold;
}

div#installBox col.left {
	width: 15em;
}

div#installBox td.submit input {
	width: 8em;
	margin-top: 20px;
}

td.line {
	background-image: url("line.png");
	background-repeat: repeat-x;
	padding: 5px;
	background-position: 0px 8px;
}

p.fieldDescription {
	font-size: 8pt;
	color: #404040;
	font-style: italic;
	margin: 2px;
}

